{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
    <br/><br/>
    <h1>{{ cats }}</h1>
    <br/>
    <ul>
    {% for post in category_posts %}
                <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a>
            - {{ post.author.first_name }}
            {{post.author.last_name}} -
            {{post.first_post_date}}
            <br/>
            {{ post.body|slice:":110"| safe}}...
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h2> Sorry this page does not exists... </h2>
{% endif %}
{% endblock %}


