{% extends 'base.html' %}
{% block title %}Delete blog post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id or user.id == 1 %}

        <h1>Delete Post...</h1>
        <br/><br/>
        <h3>Delete: {{post.title}}</h3>

        <div class="mb-3">
            <form method= "POST">
                {% csrf_token %}
                {{ form.as_p }}
                <strong> Are you sure?! </strong><br/><br/>
                <button class="btn btn-secondary">Delete Post!</button>
        </form>
        </div>
        {% else %}
            You are not allowed here!
        {% endif %}

{% else %}

You are not allowed here! (and you know it...)

{% endif %}

{% endblock %}