{% extends "base.html" %}
{% block content %}
{% load static %}

{% block additional_styles %}
<style>
   body {
    font-family: Times New Roman
   }

</style>
{% endblock %}

<header class="masthead", style= "background-image:url(media/images/dibuix_lisa.jpeg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Essais Argentina </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"> <a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a></h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.category}} </p>
                    <p class="card-text">{{post.body|slice:":200" }}</p>
                    <a href="" class="btn btn-outline-danger">Segueix llegint... &rarr;</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}